{
    auto_https disable_redirects
}

:80 {
    # 反向代理夸克网盘
    handle_path /quark/* {
        uri strip_prefix /quark
        reverse_proxy https://pan.quark.cn {
            header_up Host pan.quark.cn
            header_up Referer https://pan.quark.cn/
            header_up User-Agent {http.request.header.User-Agent}
        }
    }

    # 静态文件
    handle {
        root * /opt/docker/mp_jumper/html
        file_server browse
    }

    log {
        output stdout
        format console
    }
}

www.512028.xyz {
    root * /opt/docker/mp_jumper/html
    file_server browse
    encode gzip

    tls {
        dns alidns {
            access_key_id {$ALICLOUD_ACCESS_KEY}
            access_key_secret {$ALICLOUD_SECRET_KEY}
        }
    }

    # 反向代理 weshare 接口
    handle_path /weshareh/* {
        uri strip_prefix /weshareh
        reverse_proxy 10.0.0.11:60082
    }

    # 反向代理夸克网盘
    handle_path /quark/* {
        uri strip_prefix /quark
        reverse_proxy https://pan.quark.cn {
            header_up Host pan.quark.cn
            header_up Referer https://pan.quark.cn/
            header_up User-Agent {http.request.header.User-Agent}
        }
    }

    log {
        output stdout
        format console
    }
}
